/*
 * general styles of éléments HTML
 */

body
{
    background-color: #202020;
}

main
{
    width: auto;
    
}
aside.hidden
{
    display: none;
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #2c4365;
    margin: 1em;
    padding: 0.5em;
}
h1
{
    display: block;
    width: 100%;
}
h1 a, nav
{
    color: #364b8a;
}

header > a
{
    margin-left: 1em;
    order:1;
}

h1 a
{
    display: block;
    text-transform: uppercase;
    text-align: center;
    width: auto;
}

nav ul.link-list
{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.bdd
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
}

nav.bdd a
{    
    background-color: #ffefd0;
    color: #364b8a;
}

nav.bdd a:hover
{
    background-color: rgba(29,97,92, 0.8);
    box-shadow: 0 0 4px 2px rgba(29, 97, 92, 0.5);
    color: white;
}

section#filter input
{
    margin: auto;
    width: 50%;
    border: none;
    padding: 0.2em;
    border-radius: 15px;
    padding-left: 15px;
}

section img
{
    width: 16em;
    height: 21em;
}

img.poster
{
    width: 16em;
    height: 21em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.mainMovies 
{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 1em;
}

section.homePage
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 1em;
    
}
h2
{
    width: 100%;
    text-align: center;
}

div.mainMovies a
{
    color: #676583;
}
div.mainMovies
{
    order:1;
    background-color: #ffefd0;
    color: #364b8a;
    border-radius: 15px;
}

div.mainMovies, aside.svd
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article.roller-item a
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    transition: transform .2s;
    max-width: 15em;
    margin: 1em;
}
article.roller-item a:hover
{
    transform: scale(1.1);
}

nav.bdd a
{
    margin: 0.5em;
}

section
{
    display: flex;
    flex-wrap: wrap;
}
aside a 
{
    color: #a5b4d4;
}
aside
{
    background-color: #202020;
    max-width: 20em;
}

aside.neoj4
{
    display: none;
}

article.roller-item a strong
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18em;
}

footer#bas
{
     display: flex;
     text-align: center;
     flex-direction: column;
     align-items: center;
     margin-bottom: 2em;
     color: azure;
}

section.formu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex:1;
}

section.formu li
{
    list-style: none;
    padding: 0;
    margin-left: 0;
}

ul#pages li
{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: red;
}

li.page
{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: red;
}


@media screen and (min-width: 980px) 
{
    header
    {
        flex-wrap: nowrap;
    }
    header + a
    {
        order:0;
    }
    h1
    {
        order:1;
    }

    section.homePage
    {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    aside.svd
    {
        display: none;
    }
    aside.neoj4
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    section aside
    {
        order:2;        
    }

}


@media screen and (min-width: 1680px) 
{

    aside.neoj4
    {
        display: flex;
        margin-right: 1em;
    }
    aside.svd
    {
        display: flex;
        order:0;
        align-content: flex-start;
    }

}


